.biography {
    background: var(--bg);
}

.biography__title {
    font-family: var(--MR);
    font-size: 64px;
    font-weight: 400;
    line-height: 84px;
    color: var(--white);
    text-align: center;
    border-bottom: 2px solid var(--white);
    max-width: 300px;
    margin: 0 auto;
    padding-top: 30px;
}

.biography__img {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.biography__p {
    font-family: var(--RM);
    font-size: 24px;
    font-weight: 500;
    line-height: 50px;
    color: var(--white);
    padding-top: 15px;
}

.biography__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px   ;
}

.biography__link a {
    font-family: var(--RB);
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    color: var(--white);
}

.biography__link-direction{
    font-size: 30px;
}

@media screen and (max-width:830px) {
    .biography__img-a img {
        max-width: 650px;
    }
}




@media screen and (max-width:680px) {
    .biography__img-a img {
        max-width: 400px;
    }
    .biography__p{
        font-size: 18px;
        line-height: 40px   ;
    }
}

@media screen and (max-width:430px) {
    .biography__img-a img {
        max-width: 250px;
    }
    .biography__p{
        font-size: 14px;
        line-height: 20px;
    }
    .biography__link a{
        font-size: 35px;
        line-height: 45px;
    }
    .biography__link-direction{
        font-size: 20px;
    }
}